@keyframes slide{
  0%{
    width:15vw;
  }
  0%{
    width:85vw;
  }
}
.chatList{
  overflow-y:scroll;
  height:60%;
}
.chatListb{
  overflow-y:auto;
  height:60%;
}
.mauto{
  margin-right:auto;
  margin-left:auto;
}
#sideNav{
  position:absolute;
  left:0;
  height:100vh;
  width:45vw;
  z-index:50;
  animation:slide 1s;
}
#smallsideNav{
  position:absolute;
  left:0;
  height:100vh;
  width:15vw;
  z-index:50;
}
.inputWidth{
  width:80%;
}
     .center{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
     }
    .bottom{
       position:absolute;
       bottom:0;
    }
   .wrap{
      width:85vw;
      position:absolute;
      right:0;
      bottom:0;
     display:flex;
     justify-content:center;
    align-items:center;
   }
  .chat-box{
    position:absolute;
    top:0;
    right:0;
    margin:0 auto 0 auto;
    /*left:50%;*/
    /*transform:translate(0%, -50%);*/
     height:90vh;
     width:85vw;
     overflow-y:scroll;
  }
.border{
  border:solid 2px #4258FF;
}
.borderb{
  border:solid 1px #4258FF;
  border-radius:5px;
}

.image{
  height:20%;
  width:20%;
}
.image img{
  height:100%;
}
.top{
 position:absolute;
 top:0;
 left:0;
}
.top-right{
 position:absolute;
 top:0;
 right:0;
}
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 .setting{
    height:100vh;
    width:40vw;
 }
pre{
  padding:10px;
  background-color:#111;
  color:#4258FF;
  overflow-x:scroll;
}
a{
  color:#4258FF;
}
